
img{
    border-radius: 15px;  
}

.flex-row {

    display: flex;
    justify-content: space-around;
    display: flex;
    width: 190px;
    height: 415px;
    max-height: 620px;
    margin: 39px;
  }

.container{
   border: solid 1px rgba(255,255, 255, 0.2);
 
    color: white;
     position: absolute;
    top: 207px;
    left: 899px;
    
}

table{
    color: rgb(0, 0, 0);
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    
}
th{
    padding: 20px, 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 12px;
    border-bottom: solid rgba(255,255, 255, 0.2);
}

tbody tr{
    cursor: pointer;
    color: white;
}

tbody tr:hover{
background: #283686;
}
thead{
    background: #dbdce6;
}

.search-icon { 
  position: absolute;
  right: 42px;
  top: 56px;
  }

.form, input{
    list-style: none;
    display: flex;
    color: transparent;
    border-radius: 25px;
    border-color: white;          
    padding: 4px 10px;             
    font-size: 11px;
    outline: none;  

    transition: border-color 0.3s ease; 
    background-color: #050a30;
    color: aliceblue;

}

.carrito{
  position: absolute;
  right: 5px;
  top: 57px;

}


body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #050a30;
  }
  
  .nav,ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050a30;
    padding: 15px 30px;
    color: white;
  }

  .nav ,a{
    color: white;
    text-decoration: none;
  }
  
  
  .nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }

